@(message: String)

    @main("MyChat") {
    @navbar("home")


    <div class="container">
        <div class="text-center">
            <br>
            <br>
            <br>
            <h2 id="page-title">MyChat.com saytiga hush kelibsiz!!!</h2>

            <p class="lead">Saytimizdagi yangiliklar bilan tanishing.</p>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="@routes.Assets.at("images/e1.jpg")" alt="">

                        <div class="overlay">
                            <div class="recent-work-inner">

<br>
                                <p class="text-primary">Apple iPhone to‘lovi sifatida Android-smartfonlarni qabul qiladi</p>
                                @*<a class="preview" href="@routes.Assets.at("images/e1.jpg")" rel="prettyPhoto"><i*@
                                @*class="fa fa-eye"></i> Ko'proq</a>*@
                                <h5 class="text-danger">08:24  18.03.2015</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--/.portfolio-item-->

            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="@routes.Assets.at("images/e2.jpg")" alt="">

                        <div class="overlay">
                            <div class="recent-work-inner">

                                <br>
                                <p class="text-primary">Apple kuzda o‘z internet-televideniyesini ishga tushirmoqchi</p>
                                @*<a class="preview" href="@routes.Assets.at("images/e1.jpg")" rel="prettyPhoto"><i*@
                                @*class="fa fa-eye"></i> Ko'proq</a>*@
                                <h5 class="text-danger">08:24  18.03.2015</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--/.portfolio-item-->

            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="@routes.Assets.at("images/e3.jpg")" alt="">

                        <div class="overlay">
                            <div class="recent-work-inner">

                                <br>
                                <p class="text-primary">Ko‘pchilik telni Toshkentdagi “Fleshka” do'konidan olishar ekan</p>
                                @*<a class="preview" href="@routes.Assets.at("images/e1.jpg")" rel="prettyPhoto"><i*@
                                @*class="fa fa-eye"></i> Ko'proq</a>*@
                                <h5 class="text-danger">08:24  18.03.2015</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--/.portfolio-item-->
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="@routes.Assets.at("images/e4.jpg")" alt="">

                        <div class="overlay">
                            <div class="recent-work-inner">

                                <br>
                                <p class="text-primary">Smartfonlarning ikki barobar ko‘proq ishlashini ta’minlovchi yangi</p>
                                @*<a class="preview" href="@routes.Assets.at("images/e1.jpg")" rel="prettyPhoto"><i*@
                                @*class="fa fa-eye"></i> Ko'proq</a>*@
                                <h5 class="text-danger">08:24  18.03.2015</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--/.portfolio-item-->
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="@routes.Assets.at("images/e5.jpg")" alt="">

                        <div class="overlay">
                            <div class="recent-work-inner">

                                <br>
                                <p class="text-primary">Xitoyda “yilning eng orziqib kutilgan smartfoni” chiqarildi</p>
                                @*<a class="preview" href="@routes.Assets.at("images/e1.jpg")" rel="prettyPhoto"><i*@
                                @*class="fa fa-eye"></i> Ko'proq</a>*@
                                <h5 class="text-danger">08:24  18.03.2015</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--/.portfolio-item-->
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="@routes.Assets.at("images/e6.jpg")" alt="">

                        <div class="overlay">
                            <div class="recent-work-inner">

                                <br>
                                <p class="text-primary">Facebook post yozishda nimalar taqiqlanishini belgiladi</p>
                                @*<a class="preview" href="@routes.Assets.at("images/e1.jpg")" rel="prettyPhoto"><i*@
                                @*class="fa fa-eye"></i> Ko'proq</a>*@
                                <h5 class="text-danger">08:24  18.03.2015</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--/.portfolio-item-->
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="@routes.Assets.at("images/e7.jpg")" alt="">

                        <div class="overlay">
                            <div class="recent-work-inner">

                                <br>
                                <p class="text-primary">Artel planshetlarining o‘rtacha narxlari bilan tanishing</p>
                                @*<a class="preview" href="@routes.Assets.at("images/e1.jpg")" rel="prettyPhoto"><i*@
                                @*class="fa fa-eye"></i> Ko'proq</a>*@
                                <h5 class="text-danger">08:24  18.03.2015</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--/.portfolio-item-->
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="@routes.Assets.at("images/e8.jpg")" alt="">

                        <div class="overlay">
                            <div class="recent-work-inner">

                                <br>
                                <p class="text-primary">Olimlar ijtimoiy tarmoqlarni munosabatlar qutqaruvchisi deb topdi</p>
                                @*<a class="preview" href="@routes.Assets.at("images/e1.jpg")" rel="prettyPhoto"><i*@
                                @*class="fa fa-eye"></i> Ko'proq</a>*@
                                <h5 class="text-danger">08:24  18.03.2015</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--/.portfolio-item-->
        </div>
    </div>
    @*</div>*@
    }
