@(message: String)

    @main("MyChat") {
        
    


<div class="jumbotron">
<div style="padding-top:70px "></div>
    <h1 class="text-center">Haqiqiy hayotga hush kelibsiz!!!</h1>
     <h1 class="text-center">Bu hayotda har bir soniyani yaxshi xotiralar va yaxshi ishlar bilan o'tqazing </h1>
    <button type="button "class="btn btn-primary center-block " STYLE="background:#388dff;padding: 10px 50px " ><span style="font-size: 16px;">&heartsuit;</span> Sizlarga omad!!!</button>
</div>
        
    }
