@(message: String)

    @main("MyChat") {
        
    


<div class="jumbotron">
<div style="
padding-top:70px "></div>
    <h1 class="text-center">Changing the world</h1>
     <h1 class="text-center">One bitcoin donation at a time</h1>
    <button type="button "class="btn btn-primary center-block " STYLE="background:#388dff;padding: 10px 50px " ><span style="font-size: 16px;">&heartsuit;</span> Add New Cause</button>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-3"><img src="resources/images/6.jpg">

    </div>
    <div class="col-md-3"><img src="resources/images/3.jpg"></div>

    <div class="col-md-3"><img src="resources/images/12.jpg"></div>
    <div class="col-md-3"><img src="resources/images/5.jpg"></div>
</div>
    <div class="row">

        <div class="col-md-3"><a><h4>test</h4></a><h4>test</h4></div>

        <div class="col-md-3"><a><h4>Help the Palestinians</h4></a><h4>Many Palestinian civilians have been displaced, wounded and torn from their loved ones. Many will have to</h4></div>
        <div class="col-md-3"><a><h4>Support The Ukrainnian Revolu...</h4></a><h4>This cause and photo was the genesis for us building wollit. Seeing the plight of the people of Ukraine</h4></div>
        <div class="col-md-3"><a><h4>Wikipedia Foundation via Jim...</h4></a><h4>Jimmy Wales is experimenting with Bitcoin and made the following post on Reddit. All donations to his</h4></div>
    </div>
    <div class="row">
        <div class="col-md-3"><img src="resources/images/9.jpg">

        </div>
        <div class="col-md-3"><img src="resources/images/2.jpg"></div>

        <div class="col-md-3"><img src="resources/images/11.jpg"></div>
        <div class="col-md-3"><img src="resources/images/1.jpg"></div>
    </div>
    <div class="row">

        <div class="col-md-3"><a><h4>test</h4></a><h4>test</h4></div>

        <div class="col-md-3"><a><h4>Help the Palestinians</h4></a><h4>Many Palestinian civilians have been displaced, wounded and torn from their loved ones. Many will have to</h4></div>
        <div class="col-md-3"><a><h4>Support The Ukrainnian Revolu...</h4></a><h4>This cause and photo was the genesis for us building wollit. Seeing the plight of the people of Ukraine</h4></div>
        <div class="col-md-3"><a><h4>Wikipedia Foundation via Jim...</h4></a><h4>Jimmy Wales is experimenting with Bitcoin and made the following post on Reddit. All donations to his</h4></div>
    </div>

</div>

<div style="
padding-top:70px "></div>
<div style="background: #222">
    <div style="
padding-top:70px "></div>
        <div class="row">
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/1.jpg " class="img-thumbnail">

                    <p>#446 Summerlin R650 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/2.jpg" class="img-thumbnail">
                    <p>#445 Lille R376 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/3.jpg" class="img-thumbnail">
                    <p>#444 Akasya R558 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/4.jpg" class="img-thumbnail">
                    <p>#443 The Mall of New Hampshire R631 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/5.jpg" class="img-thumbnail">
                    <p>#442 Princes Street  R328 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/6.jpg" class="img-thumbnail">
                    <p>#441 University Town Center R615 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/7.jpg" class="img-thumbnail">
                    <p>#440 Trumbull R629 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/8.jpg" class="img-thumbnail">
                    <p>#439 Solomon Pond Mall R622 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/9.jpg" class="img-thumbnail">
                    <p>#438 Nave De Vero R625 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/10.jpg" class="img-thumbnail">
                    <p>#437 Hannover R455 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/11.jpg" class="img-thumbnail">
                    <p>#436 Lynnhaven Mall R614 </p></div>
            </div>
            <div class="img-container">
                <div class="col-md-4"><img src="resources/images/foto/12.jpg" class="img-thumbnail">
                    <p>#435 Cumberland Mall R591 </p></div>
            </div>


        </div>

    </div>



        
    }
