@(Eldor: String)

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-6">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li class="@if(Eldor == "home") {active}"><a href="@routes.Application.index()"><b>Bosh sahifa</b></a></li>
                <li class="@if(Eldor == "list") {active}"><a href="@routes.Malumotlar.list()"><b>Malumotlar</b></a></li>
                <li><a href="#"><b>Kirish</b></a></li>
                <li class="@if(Eldor == "registr") {active}"><a href="@routes.Application.registr()"><b>Ro'yhatdan o'tish</b></a></li>


                @*<li class="pull-right" style="color: #ffffff;padding-left: 300px"><a>Email: zoirov.eldor@@gmail.com &nbsp;&nbsp; Tel: +998934695150</a></li>*@
            </ul>
        </div>
    </div>
</nav>
